@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * foco:
 *   - http://typekit.com/eulas/00000000000000003b9b033a
 *   - http://typekit.com/eulas/00000000000000003b9b033b
 *   - http://typekit.com/eulas/00000000000000003b9b033d
 *   - http://typekit.com/eulas/00000000000000003b9b033c
 *   - http://typekit.com/eulas/00000000000000003b9b0338
 *   - http://typekit.com/eulas/00000000000000003b9b0339
 *   - http://typekit.com/eulas/00000000000000003b9b033f
 *   - http://typekit.com/eulas/00000000000000003b9b033e
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-05-18 21:37:13 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=abu4njb&ht=tk&f=9795.9796.9797.9798.9799.9800.9801.9802&a=99112701&app=typekit&e=css");

@font-face {
    font-family: "Museo100";
    src: url("./fonts/3b12f78c783e678acc1f0fefe8e46380.eot"); /* IE9*/
    src: url("./fonts/3b12f78c783e678acc1f0fefe8e46380.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./fonts/3b12f78c783e678acc1f0fefe8e46380.woff2")
            format("woff2"),
        /* chrome、firefox */
            url("./fonts/3b12f78c783e678acc1f0fefe8e46380.woff") format("woff"),
        /* chrome、firefox */
            url("./fonts/3b12f78c783e678acc1f0fefe8e46380.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("./fonts/3b12f78c783e678acc1f0fefe8e46380.svg#Museo Sans 100 Regular")
            format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "foco";
    src: url("https://use.typekit.net/af/6106bc/00000000000000003b9b033a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/6106bc/00000000000000003b9b033a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/6106bc/00000000000000003b9b033a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "foco";
    src: url("https://use.typekit.net/af/d5b36a/00000000000000003b9b033b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/d5b36a/00000000000000003b9b033b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/d5b36a/00000000000000003b9b033b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "foco-700";
    src: url("https://use.typekit.net/af/09a46f/00000000000000003b9b033d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/09a46f/00000000000000003b9b033d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/09a46f/00000000000000003b9b033d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "foco-700";
    src: url("https://use.typekit.net/af/3bde18/00000000000000003b9b033c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/3bde18/00000000000000003b9b033c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/3bde18/00000000000000003b9b033c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "foco-300";
    src: url("https://use.typekit.net/af/69890d/00000000000000003b9b0338/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/69890d/00000000000000003b9b0338/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("woff"),
        url("https://use.typekit.net/af/69890d/00000000000000003b9b0338/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "foco-300";
    src: url("https://use.typekit.net/af/7b8eae/00000000000000003b9b0339/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/7b8eae/00000000000000003b9b0339/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
            format("woff"),
        url("https://use.typekit.net/af/7b8eae/00000000000000003b9b0339/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "foco-900";
    src: url("https://use.typekit.net/af/05b406/00000000000000003b9b033f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/05b406/00000000000000003b9b033f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("woff"),
        url("https://use.typekit.net/af/05b406/00000000000000003b9b033f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
}

@font-face {
    font-family: "foco-900";
    src: url("https://use.typekit.net/af/0cf3ef/00000000000000003b9b033e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/0cf3ef/00000000000000003b9b033e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3")
            format("woff"),
        url("https://use.typekit.net/af/0cf3ef/00000000000000003b9b033e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 900;
    font-stretch: normal;
}

@layer components {
    @charset "UTF-8";

    body {
        @apply bg-white font-foco w-full;
    }

    body.interna {
        @apply bg-white;
    }

    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    .bpvisor {
        @apply fixed bottom-0 w-8 h-8 left-0 z-50 bg-gray-400 sm:bg-yellow-400 md:bg-red-600 lg:bg-blue-500 xl:bg-green-400 2xl:bg-gray-800 text-center;
        p {
            @apply font-bold text-lg;
            &::before {
                content: "xs";
            }
        }
        @media (min-width: 640px) {
            p::before {
                content: "sm";
            }
        }
        @media (min-width: 768px) {
            p::before {
                content: "md";
            }
        }
        @media (min-width: 1024px) {
            p::before {
                content: "lg";
            }
        }
        @media (min-width: 1280px) {
            p::before {
                content: "xl";
            }
        }
        @media (min-width: 1536px) {
            p::before {
                content: "2xl";
            }
        }
    }

    section {
        @apply relative w-full;
    }

    header {
        .header__hambcont {
            transition: 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            /* @apply; */
        }
        .header__hambcont.mobile-active {
            @apply translate-x-4;
        }

        .navbar-burger {
            @apply relative transition-all duration-300 w-6 lg:w-[33px] h-[21px] block z-50;
        }

        .navbar-burger span {
            @apply absolute h-1 w-full bg-white block transition-all duration-300 rounded-lg;
        }

        .navbar-burger span:nth-child(2) {
            top: calc(50% - 1px);
        }
        .navbar-burger span:nth-child(3) {
            top: calc(50% + 8px);
        }

        .navbar-burger.is-active span:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
        .navbar-burger.is-active span:nth-child(2) {
            opacity: 0;
        }
        .navbar-burger.is-active span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        .navTop {
            ul {
                li {
                    @apply text-white uppercase text-base lg:text-lg leading-none flex flex-row items-center;

                    &::after {
                        content: "";
                        @apply relative bg-white w-[2px] h-4 block md:mx-3 lg:mx-6 2xl:mx-8;
                    }

                    &:last-of-type {
                        &::after {
                            @apply hidden;
                        }
                    }

                    a {
                        @apply relative font-foco py-0 leading-none;
                    }
                }
            }
        }
    }

    .secundario {
        @apply transition-all -translate-y-[360px] duration-300 opacity-0;

        &.is-active {
            @apply translate-y-0 opacity-100;
        }

        ul {
            li {
                @apply mb-1;

                a {
                    @apply text-white font-foco300 hover:text-pinklight duration-300 transition-all text-xl;
                }
            }
        }

        ul.extras {
            li {
                a {
                    @apply text-pinklight font-foco700 hover:text-white duration-300 transition-all;
                }
            }
        }
    }

    .destaques {
        &__ball {
            @apply w-20 h-20 lg:w-28 lg:h-28 border-white border rounded-full flex justify-center items-center mb-2 md:mb-5;

            /* img {
                @apply w-8 lg:w-10;
            } */
        }

        &__ball2 {
            @apply w-20 h-20 lg:w-24 lg:h-24 border-white border rounded-full flex justify-center items-center mb-2 md:mb-5;

            /* img {
                @apply w-8 lg:w-10;
            } */
        }

        h3 {
            @apply text-3xl xl:text-4xl mb-2 md:mb-8;
        }

        .big {
            @apply text-[44px] md:text-[56px] xl:text-[62px] 2xl:text-[80px] font-foco100 leading-none mt-10 xl:mt-14;
        }

        .medium {
            @apply text-[32px] md:text-[30px] xl:text-[42px] 2xl:text-[50px] leading-none;
        }
        p {
            @apply font-foco100 text-lg md:text-xl xl:text-[24px] 2xl:text-[28px] leading-[1.5em] pl-0 xl:pl-1;
        }
    }

    .destaquesInterna {
        p,
        .big {
            color: #ffffff !important;
        }

        .big {
            @apply text-[44px] md:text-[56px] xl:text-[62px] 2xl:text-[80px] font-foco100 leading-none;
            margin-top: 10px !important;
        }
    }

    .premios {
        p {
            @apply font-foco100 text-lg md:text-2xl xl:text-[36px] leading-[1.22em];
        }

        &__item {
            p {
                @apply font-foco100 text-lg md:text-[22px] xl:text-[28px] leading-[1.22em] mb-5;

                strong {
                    @apply font-foco;
                }
            }
        }
    }

    .default {
        &__hero {
            @apply relative w-full 
            h-auto md:h-[360px] lg:h-[410px] xl:h-[552px] 
            bg-right bg-[length:auto_100%] 
            bg-no-repeat
            md:bg-cover flex flex-col pt-20;

            &--cover {
                @apply absolute w-full h-full bg-pink1 opacity-50 block md:hidden top-0;
            }

            .container {
                @apply relative z-[2] h-full flex flex-col items-start justify-between pt-2 md:pt-6 pb-7 lg:py-10;

                h1 {
                    @apply text-4xl md:text-[56px] lg:text-[66px] xl:text-[78px] 2xl:text-[82px] font-foco100 leading-none md:leading-[0.8em] xl:leading-[1.06em] mt-8 md:mt-0;
                }

                p {
                    @apply text-[17px] text-white lg:text-[20px] xl:text-[26px] leading-tight font-foco100 md:w-[38%] xl:w-[38%] 2xl:w-[32%];
                }
            }
        }

        &__content {
            @apply relative w-full flex flex-col md:flex-row;

            &--fullpage {
                @apply py-4 lg:py-10;

                > p,
                .grid p {
                    @apply text-lg lg:text-[22px] text-paragraph font-foco300 leading-tight mb-5 md:mb-10;
                }

                .pinkfeatured {
                    p {
                        @apply text-lg lg:text-[26px] text-pink1 font-foco300 leading-tight mb-5 md:mb-10;
                    }
                }

                h2 {
                    @apply text-pink1 font-foco100 text-3xl lg:text-4xl xl:text-[48px] mb-4 lg:mb-10;
                }

                h3 {
                    @apply text-pink1 font-foco100 text-2xl lg:text-3xl xl:text-[38px] mb-4 lg:mb-6;
                }

                b,
                strong {
                    @apply font-foco700;
                }

                hr {
                    @apply h-px w-full bg-pink1 border-none my-2;
                }
            }

            &--sidebar {
                @apply md:w-4/12 xl:w-4/12 bg-gradient-to-l from-[#EBECEC] to-[#ffffff] flex flex-col items-end;

                section {
                    @apply md:w-[230px] lg:w-[330px] xl:w-[390px] 2xl:w-[490px] py-4 lg:pt-10 px-4 sticky top-16;
                }

                ul {
                    li {
                        @apply mb-2 font-foco text-[20px] pb-2 md:pb-2 lg:text-[22px] leading-tight border-b-[1px] md:border-b-0 border-pink1;

                        a {
                            @apply text-pink1 hover:text-pinklight duration-300 transition-all;
                        }
                    }
                }
            }

            &--container {
                @apply md:w-8/12 xl:w-8/12 bg-white pt-10
                overflow-x-hidden;

                section {
                    @apply md:w-[500px] lg:w-[650px] xl:w-[840px] 2xl:w-[1010px] px-4 md:px-6 lg:pl-10 lg:pr-0;

                    > p,
                    > .grid p {
                        @apply text-lg lg:text-[22px] text-paragraph font-foco300 leading-tight mb-5 md:mb-10;
                    }

                    .pinkfeatured {
                        p {
                            @apply text-lg lg:text-[26px] text-pink1 font-foco300 leading-tight mb-5 md:mb-10;
                        }
                    }
                }

                h2 {
                    @apply text-pink1 font-foco100 text-3xl lg:text-4xl xl:text-[48px] mb-4 lg:mb-10;
                }

                h3 {
                    @apply text-pink1 font-foco100 text-2xl lg:text-3xl xl:text-[38px] mb-4 lg:mb-6;
                }

                h4 {
                    @apply text-pink1 font-foco700 text-xl lg:text-2xl mb-4 lg:mb-6;
                }

                h5 {
                    @apply text-pink1 font-foco100 text-[21px] mb-4 lg:mb-6;
                }

                b,
                strong {
                    @apply font-foco700;
                }

                hr {
                    @apply h-px w-full bg-pink1 border-none my-2;
                }

                blockquote {
                    @apply p-6 text-pink1 text-[34px] font-foco100 italic leading-tight;
                }

                .imgContent {
                    @apply rounded-br-[60px] xl:rounded-br-[80px] w-[94%] h-auto overflow-hidden block;
                }

                .tabelaWrapper {
                    @apply w-full relative overflow-x-auto mb-14 pb-4;
                }

                .legenda {
                    @apply text-pink1 text-sm mb-8 mt-2;
                }

                .legendaTabela {
                    @apply text-paragraph font-foco300 text-xs my-2;

                    strong {
                        @apply font-foco700;
                    }
                }

                ul.default {
                    @apply list-disc mt-2 ml-6 text-paragraph;

                    li {
                        @apply text-lg lg:text-[22px] text-paragraph font-foco300 leading-tight mb-4;

                        strong {
                            @apply font-foco700;
                        }
                    }
                }
            }
        }
    }

    .pinkIntersection {
        @apply my-10 p-10 rounded-r-[80px] bg-gradient-to-b from-pink1 to-pinklight text-white w-[95%] text-xl;
    }

    .pinkIntersectionHoriz {
        @apply my-10 p-14 rounded-r-[80px] bg-gradient-to-r from-pinklight to-pink1 text-white w-[95%] text-xl;
    }

    .transparentIntersection {
        @apply my-10 p-8 md:p-12 rounded-r-[80px] bg-white w-[95%] drop-shadow-transpInters;

        p {
            @apply text-paragraph text-lg md:text-xl font-foco300 leading-tight mb-5;

            &:last-of-type {
                @apply mb-0;
            }
        }
    }

    .gri {
        @apply font-foco300 text-xl md:text-2xl -mt-6 mb-6;
    }

    .gri2 {
        @apply font-foco700 text-base -mt-6 mb-6;
    }

    .griLegenda {
        @apply text-pink1 font-foco700 text-base;
    }

    .stickySidebar{
        @apply sticky top-16;
    }

    footer {
        ul {
            @apply mb-4;

            li {
                @apply mb-0 leading-tight text-[16px] lg:text-lg  sm:leading-none lg:leading-[1.18em] text-itemsrodape font-foco;

                &:first-of-type {
                    @apply font-foco700;
                }

                a {
                    @apply mb-0 leading-none text-itemsrodape hover:text-pink1 transition-all duration-300;
                }
            }
        }
    }
}
